.auth-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.auth-form-subcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	-webkit-box-shadow: 0px 3px 18px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 3px 18px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 3px 18px -7px rgba(0, 0, 0, 0.75);
	background-color: white;
	padding: 0 20px;
	padding-top: 10px;
	border-radius: 5px;
}

.auth-tabs .ant-tabs-nav-scroll {
	display: flex;
	justify-content: center;
}
