.info-page-container {
	width: 100%;
	height: 100%;
	padding: 20px;
	padding-bottom: 0;
}

.head-name {
	font-size: 38px;
	line-height: 46px;
	align-self: flex-start;
}

.rest-address {
	font-size: 24px;
	align-self: flex-start;
}

.info-page-spin {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.map-image {
	width: 60%;
	align-self: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.upload-res-pics {
	margin-top: 50px;
}

.info-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
