#components-layout-demo-fixed-sider .logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}

.fix-sider {
	overflow: auto;
	height: 100vh;
	position: fixed;
	left: 0;
}

.logo {
	color: rgba(255, 255, 255, 0.65);
	text-align: center;
	padding: 10px;
}

.dashboard-content {
	margin: 24px 16px 13px;
	overflow: hidden;
}
